@-webkit-keyframes pulse {
  0% {
    color: #dcdcdc;
  }
  50% {
    color: #ababab;
  }
  100% {
    color: #dcdcdc;
  }
}

@keyframes pulse {
  0% {
    color: #dcdcdc;
  }
  50% {
    color: #ababab;
  }
  100% {
    color: #dcdcdc;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grid-7x7-container {
  position: relative;
}

.grid-7x7-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-7x7-container .copyright {
  position: absolute;
  color: #aaa;
  bottom: -30px;
  z-index: 3000;
  width: 100%;
  text-align: center;
}

.grid-7x7 {
  position: relative;
  overflow: hidden;
}

.grid-7x7 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-7x7 .grid {
  background: #ccc;
  -webkit-animation: fadeIn 2s 1;
          animation: fadeIn 2s 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -1px;
  margin-left: -1px;
}

.grid-7x7 .grid .grid-item {
  padding: 1px;
  outline: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.28571%;
          flex: 0 0 14.28571%;
  position: relative;
}

.grid-7x7 .grid .grid-item:before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.grid-7x7 .grid .grid-item .counter {
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  color: #dfdfdf;
  -webkit-animation: pulse 5000ms ease infinite;
          animation: pulse 5000ms ease infinite;
}

.grid-7x7 .custom-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.grid-7x7 .custom-items .custom-item {
  background-color: #1381a1;
  position: absolute;
  -webkit-animation: show 6s ease 1;
          animation: show 6s ease 1;
}

.grid-7x7 .custom-items .custom-item.top0 {
  top: 0;
}

.grid-7x7 .custom-items .custom-item.left0 {
  left: 0;
}

.grid-7x7 .custom-items .custom-item.width7 {
  width: 100%;
}

.grid-7x7 .custom-items .custom-item.height7 {
  height: 100%;
}

.grid-7x7 .custom-items .custom-item.top1 {
  top: 14.28571%;
}

.grid-7x7 .custom-items .custom-item.left1 {
  left: 14.28571%;
}

.grid-7x7 .custom-items .custom-item.height1 {
  height: 14.28571%;
}

.grid-7x7 .custom-items .custom-item.width1 {
  width: 14.28571%;
}

.grid-7x7 .custom-items .custom-item.top2 {
  top: 28.57143%;
}

.grid-7x7 .custom-items .custom-item.left2 {
  left: 28.57143%;
}

.grid-7x7 .custom-items .custom-item.height2 {
  height: 28.57143%;
}

.grid-7x7 .custom-items .custom-item.width2 {
  width: 28.57143%;
}

.grid-7x7 .custom-items .custom-item.top3 {
  top: 42.85714%;
}

.grid-7x7 .custom-items .custom-item.left3 {
  left: 42.85714%;
}

.grid-7x7 .custom-items .custom-item.height3 {
  height: 42.85714%;
}

.grid-7x7 .custom-items .custom-item.width3 {
  width: 42.85714%;
}

.grid-7x7 .custom-items .custom-item.top4 {
  top: 57.14286%;
}

.grid-7x7 .custom-items .custom-item.left4 {
  left: 57.14286%;
}

.grid-7x7 .custom-items .custom-item.height4 {
  height: 57.14286%;
}

.grid-7x7 .custom-items .custom-item.width4 {
  width: 57.14286%;
}

.grid-7x7 .custom-items .custom-item.top5 {
  top: 71.42857%;
}

.grid-7x7 .custom-items .custom-item.left5 {
  left: 71.42857%;
}

.grid-7x7 .custom-items .custom-item.height5 {
  height: 71.42857%;
}

.grid-7x7 .custom-items .custom-item.width5 {
  width: 71.42857%;
}

.grid-7x7 .custom-items .custom-item.top6 {
  top: 85.71429%;
}

.grid-7x7 .custom-items .custom-item.left6 {
  left: 85.71429%;
}

.grid-7x7 .custom-items .custom-item.height6 {
  height: 85.71429%;
}

.grid-7x7 .custom-items .custom-item.width6 {
  width: 85.71429%;
}

.grid-7x7 .custom-item {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  overflow: auto;
  color: #fff;
}

.grid-7x7 .custom-item.reverse-color {
  color: #000;
}

.grid-7x7 .custom-item:hover {
  opacity: .7;
  cursor: pointer;
}

.grid-7x7 .custom-item a {
  display: block;
  height: 100%;
  position: relative;
  color: #fff;
}

.grid-7x7 .custom-item a .title {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
}

.grid-7x7 .custom-item.reverse-color a {
  color: #000;
}

.grid-7x7 .custom-item.text-vertical a .title {
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
          transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.grid-7x7 .custom-item.Text .center-text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.grid-7x7 .custom-item.Image .ImageContainer {
  height: 100%;
}

.grid-7x7 .custom-item.Image .ImageContainer img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.grid-7x7 .custom-item.primary-color-bg {
  background-color: #1381a1 !important;
}

.grid-7x7 .custom-item.secondary-color-1-bg {
  background-color: #233EB0 !important;
}

.grid-7x7 .custom-item.secondary-color-2-bg {
  background-color: #FFB916 !important;
}

.grid-7x7 .custom-item.secondary-color-1-bg {
  background-color: #233EB0 !important;
}

.grid-7x7 .custom-item.complementary-color-bg {
  background-color: #FF8C16 !important;
}
