// variables
$grid-gutter: 2px !default;
$outline-color: rgba(#fff, 0.8ns) !default;


$brand-color: #1381a1 !default; // #007A9C !default;
$brand-color-alpha: rgba($brand-color, 0.5) !default;

$custom-item-color: #fff !default;
$custom-item-color-reverse: #000 !default;

// As hex codes */
// petrol
$color-primary-0: #1382A1; // Main Primary color */
$color-primary-1: #57A9C1;
$color-primary-2: #3291AC;
$color-primary-3: #046884;
$color-primary-4: #035268;

// blue
$color-secondary-1-0: #233EB0; // Main Secondary color (1) */
$color-secondary-1-1: #6579CA;
$color-secondary-1-2: #4259B9;
$color-secondary-1-3: #112A90;
$color-secondary-1-4: #0B1F72;

// yellow
$color-secondary-2-0: #FFB916; // Main Secondary color (2) */
$color-secondary-2-1: #FFD46E;
$color-secondary-2-2: #FFC744;
$color-secondary-2-3: #D49500;
$color-secondary-2-4: #A77500;

// orange
$color-complement-0: #FF8C16; // Main Complement color */
$color-complement-1: #FFB76E;
$color-complement-2: #FFA344;
$color-complement-3: #D46B00;
$color-complement-4: #A75400;


$primary-color: $brand-color !default;
$primary-color-alpha: rgba($primary-color, 0.5) !default;

$primary-bg-color: $primary-color !default;
$primary-text-color: $custom-item-color !default;

//
$secondary-color-1: #4B585C !default; //#0B1F72 #233EB0
$secondary-color-1-alpha: rgba($secondary-color-1, .5) !default;
$secondary-1-bg-color: $secondary-color-1 !default;
$secondary-1-text-color: $custom-item-color !default;


//
$secondary-color-2: #373330 !default; // #FFD46E #FFB916
$secondary-color-2-alpha: rgba($secondary-color-2, .5) !default;
$secondary-2-bg-color: $secondary-color-2 !default;
$secondary-2-text-color: $custom-item-color !default;

$complementary-color: #B4B4B4 !default; //#FFB76E #FF8C16
$complementary-color-alpha: rgba($complementary-color, .5) !default;
$complementary-bg-color: $complementary-color !default;
$complementary-text-color: $custom-item-color-reverse !default;

$breakpoints: (x-small: 0,
  small: 576px,
  medium: 768px,
  large: 992px,
  x-large: 1200px) !default;


// mixins
@mixin media($width) {
  @if map-has-key($breakpoints, $width) {
    @media (min-width: map-get($breakpoints, $width)) {
      @content;
    }
  }

  @else {
    @media (min-width: $width) {
      @content;
    }
  }
}

@mixin media-down($width) {
  @if map-has-key($breakpoints, $width) {
    @media (max-width: map-get($breakpoints, $width)) {
      @content;
    }
  }

  @else {
    @media (max-width: $width) {
      @content;
    }
  }
}

@mixin set-colors($bg, $txt) {
  background-color: $bg !important;
  color: $txt !important;

  a {
    color: $txt !important;
    &:active,
    &:hover,
    &:visited {
      color: $txt !important;
    }
  }
}

// functions


// animations
@keyframes pulse {
  0% {
    color: #dcdcdc;
  }

  50% {
    color: #ababab;
  }

  100% {
    color: #dcdcdc;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grid-7x7-container {
  * {
    box-sizing: border-box;
  }

  position: relative;

  .copyright {
    position: absolute;
    color: #aaa;
    bottom: -30px;
    z-index: 3000;
    width: 100%;
    text-align: center;
  }
}

.grid-7x7 {
  * {
    box-sizing: border-box;
  }


  position: relative;
  overflow: hidden;

  .grid {
    background: #ddd;
    animation: fadeIn 2s 1;
    display: flex;
    flex-flow: row wrap;

    .grid-item {
      flex: 0 0 percentage(1/7);
      position: relative;

      &:nth-child(2n + 1) {
        background: rgba(#000, 0.05);
      }

      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .counter {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: absolute;
        vertical-align: middle;
        text-align: center;
        color: #dfdfdf;
        animation: pulse 5000ms ease infinite;
      }
    }
  }
}


.grid-7x7 {
  .custom-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .custom-item {
      background-color: $primary-bg-color;
      color: $primary-text-color;
      position: absolute;
      animation: show 6s ease 1;

      a,
      a:active,
      a:hover,
      a:visited {
        color: $primary-text-color;
      }
    }
  }
}

.custom-item {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  a,
  a:active,
  a:hover,
  a:visited {
    color: $primary-text-color;
  }
}


// positioning
.grid-7x7 .custom-items .custom-item {
  &.top0 {
    top: 0;
  }

  &.left0 {
    left: 0;
  }

  &.width7 {
    width: 100%;
  }

  &.height7 {
    height: 100%;
  }

  @for $i from 1 through 6 {
    &.top#{$i} {
      top: percentage($i/7);
    }

    &.left#{$i} {
      left: percentage($i/7);
    }

    &.height#{$i} {
      height: percentage($i/7);
    }

    &.width#{$i} {
      width: percentage($i/7);
    }
  }

}

.grid-7x7 .custom-item {
  transition: opacity 400ms ease;
  color: $custom-item-color;

  &:not(.Image) {
    overflow: auto;
  }

  // image object
  &.Image {
    overflow: hidden;
  }

  &.reverse-color {
    color: $custom-item-color-reverse;
  }

  &:not(.Image):hover {
    opacity: .7;
    cursor: pointer;
  }

  a {
    display: block;
    height: 100%;
    position: relative;

    .title {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 50%;
      top: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      padding: 10px;
    }
  }

  // &.reverse-color a {
  //   color: $custom-item-color-reverse;
  // }

  &.text-vertical {
    a .title {
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: left top 0;
    }
  }

  &.Text {
    .center-text {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      padding: 10px;
      transform: translate(0, -50%);
    }
  }

  &.Image {
    .wrapper {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      text-decoration: none;
    }

    .image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity 1000ms ease;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate(-50%, 0);
        margin: 0 !important;
      }

      // .image-title {
      //   position: absolute;
      //   padding: 10px;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      //   opacity: 0;
      //   transition: opacity 300ms ease;
      //   cursor: pointer;
      // }

    }

    .text {
      width: 100%;
      position: absolute;
      padding: 10px;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 500ms ease;
      // transform: translate(0, - 50%);
      // top: 50%;

      .image-title {
        display: block;
        font-size: .825rem;
      }

      .text-title {
        display: none;
        font-size: 1rem;
      }

      .text-text {
        display: none;
        font-size: .825rem;
        margin-top: 1rem;

        p {
          margin: 0;
        }
      }

      @include media(medium) {

        .image-title,
        .text-title {
          font-size: 1rem;
          display: block;
        }

        .text-text {
          display: block;
        }
      }
    }

    .wrapper:hover {
      .image {
        opacity: 0;
      }

      .text {
        opacity: 1;
      }
    }

  }

}

.grid-7x7 .custom-item {
  &.primary-color-bg {
    @include set-colors($primary-bg-color, $primary-text-color);
  }

  &.secondary-color-1-bg {
    // background-color: $secondary-color-1 !important;
    @include set-colors($secondary-1-bg-color, $secondary-1-text-color);
  }

  &.secondary-color-2-bg {
    @include set-colors($secondary-2-bg-color, $secondary-2-text-color);
  }

  // &.secondary-color-1-bg {
  //   // background-color: $secondary-color-1 !important;
  //   @include set-colors($secondary-1-bg-color, $secondary-1-text-color );
  // }

  &.complementary-color-bg {
    background-color: $complementary-color !important;
    @include set-colors($complementary-bg-color, $complementary-text-color);
  }
}